{% load book_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Books</title>
</head>
<body>

    <table border="1">
    	<tr>
			<th>title</th>
			<th>author</th>
			<th>publisher</th>    	
			<th>publication_date</th>
    	</tr>
    	{% for book in books %}
    	<tr>
   			<td>{{ book.title }}</td>
   			<td>
   				{% for author in book.authors.all %}
   					<a href = "###" onclick="getAuthors({{book.id}})">{{author.first_name}}</a>,
   				{% endfor %}
   			</td>
   			<td>{{ book.publisher }}</td>
   			<td>{{ book.publication_date }}</td>
    	</tr>
    	{% endfor %}
    </table>
    <div id = "authors"></div>
	
	<table>
		{% for book in books %}
			{%building_result_list book.publisher.id book.publisher.id%}
		{% endfor %}
	</table>
	{{books|book:"2"}}
	
	</br>
	</br>
	
	
	
	
	{% if info %}  
	    {% for book in bookList.object_list %}  
	        <div class="book">  
	            <div class="title">{{ book.title }}</div>  
	        </div>  
	    {% endfor %}  
	{% else %}  
	    <p>对不起没有文章奥!</p>  
	{% endif %} 
	
	<hr>  
	{% if bookList.has_previous %}  
		<a href="?page={{ bookList.previous_page_number }}" title="下一页">上一页</a>&nbsp;  
	{% endif %}  
	{% for p in page_range %}  
		{% ifequal p bookList.number %}  
			<span>{{p}}</span>  
		{% else %}  
			<a href="?page={{p}}" title="第{{p}}页">{{p}}</a>  
		{% endifequal %}  
	{% endfor %}  
	&nbsp;  
	{% if bookList.has_next %}  
		<a href="?page={{ bookList.next_page_number }}" title="下一页">下一页</a>&nbsp;  
	{% endif %} 
	
	</br>
	</br>
	
	
	
	{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    
    
    
</body>
<script type="text/javascript" src="/static/js/jquery-1.6.4.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/time/WdatePicker.js"></script>
<script>
$("#id_publication_date").addClass("Wdate");
$("#id_publication_date").attr("onClick","WdatePicker()");
function getAuthors(bookId){
	$.ajax({
	    type: "POST",
	    url: "/book/author/",
	    dataType:   "json",
	    data:{
	    	bookId : bookId
             },
	    success: function(json){
	    	toTable(json);
	    }
	});
}
function toTable(json){ 
	var html = "<table border = '1'>"+
					"<tr>"+
						"<th>id</th>"+
						"<th>name</th>"+
						"<th>salutation</th>"+
						"<th>email</th>"+
					"</tr>"
	for(i=0;i<json.length;i++){
		html = html + "<tr>"+
						"<td>" + json[i].id + "</td>" +
						"<td>" + json[i].name + "</td>" +
						"<td>" + json[i].salutation + "</td>" +
						"<td>" + json[i].email + "</td>" +
					  "</tr>"
    }
	html = html + "</table>";
	$("#authors").html(html);
}
</script>
</html>