{% load book_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Books</title>
</head>
<body>

    <table border="1">
    	<tr>
			<th>title</th>
			<th>author</th>
			<th>publisher</th>    	
			<th>publication_date</th>
    	</tr>
    	{% for book in books %}
    	<tr>
   			<td>{{ book.title }}</td>
   			<td>
   				{% for author in book.authors.all %}
   					<a href = "###" onclick="getAuthors({{book.id}})">{{author.first_name}}</a>,
   				{% endfor %}
   			</td>
   			<td>{{ book.publisher }}</td>
   			<td>{{ book.publication_date }}</td>
    	</tr>
    	{% endfor %}
    </table>
    <div id = "authors"></div>
	
	<table>
		{% for book in books %}
			{%building_result_list book.publisher.id book.publisher.id%}
		{% endfor %}
	</table>
</body>
<script type="text/javascript" src="/static/js/jquery-1.6.4.js"></script>
<script>
function getAuthors(bookId){
	$.ajax({
	    type: "POST",
	    url: "/book/author/",
	    dataType:   "json",
	    data:{
	    	bookId : bookId
             },
	    success: function(json){
	    	toTable(json);
	    }
	});
}
function toTable(json){ 
	var html = "<table border = '1'>"+
					"<tr>"+
						"<th>id</th>"+
						"<th>name</th>"+
						"<th>salutation</th>"+
						"<th>email</th>"+
					"</tr>"
	for(i=0;i<json.length;i++){
		html = html + "<tr>"+
						"<td>" + json[i].id + "</td>" +
						"<td>" + json[i].name + "</td>" +
						"<td>" + json[i].salutation + "</td>" +
						"<td>" + json[i].email + "</td>" +
					  "</tr>"
    }
	html = html + "</table>";
	$("#authors").html(html);
}
</script>
</html>